/hw/xps/implementation
/hw/xps/TestApp_Peripheral_microblaze_0
/hw/sim/prj/work
/hw/sim/prj-fsl/work
/data

*.sh
*.bit
*.flw
*.cmd
*.lst
*.xreport
*.bin
*.bcd
*.ref
*.projectmgr
*.bbd
*.mpd
*.pao
*.cip
*.opt
*.scr
*.dat
*.dbs
*.mti
*.mpf
*.wlf
*.asm64
*.rw64
*.xsl
*.ut
*.filters
*.gui
*.cat
*.blc
*.xbcd
*.his
*.bmm
*.xwbt
*.drc
*.bgn
*.blc
*.srp
*.bsb
*.make
*.mhs
*.mss
*.xmp
*.bak
*.swp
*.txt
*.ncd
*.map
*.lso
*.xrpt
*.pcf
*.twr
*.bld
*.mrp
*.ngd
*.par
*.html
*.xml
*.xise
*.xst
*.gise
*.xpi
*.syr
*.twx
*.unroutes
*.stx
*.prj
*.ptwx
*.csv
*.pad
*.ngr
*.ngm
*.cmd_log
*.xmsgs
*.cgc
*.asy
*.vho
*.log
*.cgp
*.xco
*.tcl
*.pdf



